---
title: Catalogo
layout: default
---
<section class="flex items-center justify-center max-w-screen-lg py-10 mx-auto">
  <img class="w-56 py-10" src="/static/images/stubs/editorial-vampira.png" alt="">
</section>
<section class="flex flex-col max-w-screen-lg gap-12 pt-0 mx-auto sm:gap-14">
  <h1 class="text-4xl font-semibold text-gray-700 uppercase md:text-5xl">Catálogo</h1>
  <div class="grid grid-cols-2 gap-4 gap-y-10 sm:grid-cols-4 sm:gap-10 sm:px-10">
    {% for producto in editorial.editorial %}
      <!-- Card -->
      <div class="flex flex-col justify-between gap-3">
        <!-- Image -->
        <a href="/catalogo/{{ producto.titulo | slug }}/">
          <img src="{{ producto.imagen }}" alt="">
        </a>
        <!-- Description -->
        <div class="w-3/4">
          <h1 class="text-sm font-bold border-b-2 border-white">{{ producto.titulo }}</h1>
          <h2 class="text-sm">{{ producto.autor }}</h2>
          {% if producto.instagram != "" %}
          <h2 class="text-sm">@{{ producto.instagram }}</a>
          {% endif %}
          <h2 class="text-base font-bold text-blue-700">${{ producto.precio }}</h2>
        </div>
        <!-- Boton -->
        <a class="flex items-center justify-center p-1 text-sm uppercase border-2" href="{{ producto.url }}">
          <svg class="w-4 h-4 mr-2">
            <use xlink:href="/static/sprites/solid.svg#shopping-cart"></use>
          </svg>
          Comprar
        </a>
      </div>
    {% endfor %}
  </div>
</section>
