---
layout: default
---
<!-- Hero -->
<section class="bg-gradient-hero">
  <div class="flex flex-col items-center justify-center gap-4 px-4 text-center bg-center bg-no-repeat bg-cover"
       style="height: 85vh; background-image: url('/static/images/hero-pattern-bg.png');">
    <h1 class="text-5xl font-bold text-center sm:text-6xl">Somos Liana</h1>
    <p class="text-xl font-bold">Una agencia de diseño y desarrollo de Argentina</p>
    <button class="text-xl btn btn-accent btn-wide"
            @click="showContact = !showContact"
            type="button">Hablemos!</button>
  </div>
</section>

<!-- What We Do -->
<section class="section">
  <!-- Title -->
  <div class="flex flex-col gap-4 text-center">
    <h1 class="text-5xl font-bold text-center sm:text-6xl">¿Que Hacemos?</h1>
  </div>
  <!-- Grid -->
  <div class="grid grid-cols-2 gap-12 sm:grid-cols-3">
    {% for item in site.services %}
      <div class="flex flex-col items-center gap-4 p-4 text-center sm:shadow-2xl">
        <img class="w-20 rounded-xl" src="/static/images/service-uiux.png">
        <h2 class="text-xl sm:text-2xl sm:font-bold">{{ item.title }}</h2>
        <p class="hidden px-8 text-xl sm:inline">{{ item.description }}</p>
      </div>
    {% endfor %}
  </div>
</section>

<!-- Clients -->
<section class="section">
  <!-- Title -->
  <div class="flex flex-col gap-4 text-center">
    <h1 class="text-5xl font-bold text-center sm:text-6xl">Clientes</h1>
    <h2 class="text-xl">Trabajamos con equipos del resto del mundo.</h2>
  </div>
  <!-- Grid -->
  <div class="grid items-center justify-center grid-cols-3 gap-4 sm:grid-cols-4 sm:gap-8">
    <img alt="" src="/static/images/clients/agoda.png">
    <img alt="" src="/static/images/clients/anyleads.png">
    <img alt="" src="/static/images/clients/crisp.png">
    <img alt="" src="/static/images/clients/flyr.png">
    <img alt="" src="/static/images/clients/getsafe.png">
    <img alt="" src="/static/images/clients/grab.png">
    <img alt="" src="/static/images/clients/hoopsai.png">
    <img alt="" src="/static/images/clients/teachable.png">
    <img alt="" src="/static/images/clients/roger.png" class="sm:hidden">
  </div>
</section>

<!-- Our Latest Works -->
<section class="section">
  <!-- Title -->
  <div class="flex flex-col gap-4 text-center">
    <h1 class="text-5xl font-bold text-center sm:text-6xl">Ultimos Trabajos</h1>
  </div>
  <!-- Grid -->
  <div class="flex flex-col gap-12">
    {% for item in projects.projects %}
      {% if item.latest %}
        <div class="grid grid-rows-2 shadow-2xl md:grid-rows-none md:grid-cols-2 md:max-w-full rounded-3xl">
          <img class="{% if item.odd %}md:order-last{% endif %}" src="{{ item.image }}">
          <div class="flex flex-col items-start justify-around p-4 md:p-12">
            <div class="flex flex-col items-start justify-center gap-4">
              <h2 class="text-5xl">{{ item.title }}</h2>
              {% for t in item.tags %}
                <div class="uppercase badge badge-secondary badge-lg">{{t}}</div>
              {% endfor %}
            </div>
            <a class="btn btn-primary" href="{{ item.url }}">Ver Proyecto</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>