<section class="flex flex-col max-w-screen-lg mx-auto gap-8">
  <h1 class="uppercase text-4xl font-bold border-b-2 border-blue-900">Programas Pasados</h1>
  <div class="border-2 border-white rounded-3xl w-full">
    <div class="h-44 border-b-2 border-white"></div>
    <div class="h-12 border-b-2 border-white"></div>
    <div class="h-12 border-b-2 border-white"></div>
    <div class="h-12 border-b-2 border-white"></div>
    <div class="h-12 border-b-2 border-white"></div>
    <div class="h-12 border-b-2 border-white"></div>
    <div class="h-12 border-b-2 border-white"></div>
    <div class="h-12"></div>
  </div>
</section>
