# https://EditorConfig.org
root = true

[*]
max_line_length = 79
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# https://www.python.org/dev/peps/pep-0008/#indentation
[*.{py, pyi}]
indent_style = space
indent_size = 4

# https://github.com/DavidAnson/markdownlint
[*.{markdown, md}]
indent_style = space
indent_size = 4

# https://www.gnu.org/software/make/manual/html_node/Rule-Syntax.html
[Makefile]
indent_style = tab