@tailwind base;
@tailwind components;
html {
  scroll-behavior: smooth;
}
body {
  @apply text-white;
}
svg {
  @apply fill-current;
}

@tailwind utilities;

.btn {
  @apply rounded-full;
}

.section {
  @apply flex flex-col items-center max-w-screen-lg gap-12 px-2 py-24 mx-auto text-black;
}
.bg-gradient-footer {
  background-image: linear-gradient(
    to right top,
    rgb(55, 9, 99),
    rgb(64, 43, 157),
    rgb(3, 143, 159)
  );
}
.bg-gradient-hero {
  background-image: linear-gradient(to bottom right, #c04de2, #340c7f);
}

.asd {
  width: 40px;
  height: 2px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #ef4b6c;
  transform: translateX(-50%);
}