<div class="fixed inset-0 z-30 flex flex-col items-center justify-center max-w-screen-sm m-auto text-black bg-white" x-show="showContact" >
  <button class="absolute top-0 right-0 mt-6 mr-6 " @click="showContact = !showContact" type="button">
    <svg class="w-5 h-5">
      <use xlink:href="/static/sprites/solid.svg#times"></use>
    </svg>
  </button>
  <!-- Main -->
  <div class="flex flex-col justify-center p-4 sm:p-16 gap-y-4 gap-x-8">
    <h1 class="text-6xl">Let's Talk!</h1>
    <p class="text-xl">
      We will get back to you within one to two days through email.
      Also please don't forget to check your spam account just in case!
    </p>
    <form name="contact" method="POST" data-netlify="true">
      <div class="form-control">
        <label class="label">
          <span class="label-text">Name</span>
        </label>
        <input type="text" placeholder="name" class="input input-bordered">
      </div>

      <div class="form-control">
        <label class="label">
          <span class="label-text">Email</span>
        </label>
        <input type="text" placeholder="email" class="input input-bordered">
      </div>

      <div class="form-control">
        <label class="label">
          <span class="label-text">Subject</span>
        </label>
        <input type="text" placeholder="subject" class="input input-bordered">
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Message</span>
        </label>
        <textarea name="message" class="h-24 textarea textarea-bordered" placeholder="Bio"></textarea>
      </div>
      <button class="mt-4 btn btn-lg" type="submit">Send</button>
    </form>
  </div>
</div>