<div class="fixed top-0 left-0 z-30 w-screen h-screen bg-red-200" x-show="showModal" >
  <button class="absolute right-0 mt-6 mr-6 " @click="showModal = !showModal" type="button">
    <svg class="w-5 h-5">
      <use xlink:href="/static/sprites/solid.svg#times"></use>
    </svg>
  </button>
  <!-- Main -->
  <nav class="flex flex-col items-center justify-center h-screen gap-y-4 gap-x-8">
    <a href="/" class="btn btn-ghost btn-lg rounded-btn hover:text-content-100">Home</a>
    <a href="/blog" class="btn btn-ghost btn-lg rounded-btn hover:text-content-100">Blog</a>
    <a href="#contact" class="btn btn-ghost btn-lg rounded-btn hover:text-content-100">Contact</a>
  </nav>
</div>