<div class="fixed top-0 left-0 z-30 w-screen h-screen text-black bg-white" x-show="showMenu" >
  <button class="absolute right-0 mt-6 mr-6 " @click="showMenu = !showMenu" type="button">
    <svg class="w-5 h-5">
      <use xlink:href="/static/sprites/solid.svg#times"></use>
    </svg>
  </button>
  <!-- Main -->
  <nav class="flex flex-col items-center justify-center h-screen gap-y-4 gap-x-8">
    <a href="/" class="btn btn-ghost btn-lg rounded-btn hover:text-content-100">Inicio</a>
    <a href="/portfolio" class="btn btn-ghost btn-lg rounded-btn hover:text-content-100">Portfolio</a>
    <button @click="showContact = !showContact; showMenu = false;"
    class="btn btn-ghost btn-lg rounded-btn hover:text-content-100"
    type="button">Contacto</button>
  </nav>
</div>