<div class="grid grid-rows-2 shadow-2xl md:grid-rows-none md:grid-cols-2 md:max-w-full rounded-3xl">
  <img class="{% if item.odd %}md:order-last{% endif %}" src="{{ item.image }}">
  <div class="flex flex-col items-start justify-around p-4 md:p-12">
    <div class="flex flex-col items-start justify-center gap-4">
      <h2 class="text-5xl">{{ item.title }}</h2>
      {% for t in item.tags %}
        <div class="uppercase badge badge-secondary badge-lg">{{t}}</div>
      {% endfor %}
    </div>
    <a class="btn btn-primary" href="{{ item.url }}">Ver Proyecto</a>
  </div>
</div>