<!-- Black Triangle -->
<footer class="py-10 mt-10 bg-black">
  <!-- Bar -->
  <div class="flex items-center justify-between max-w-screen-lg px-2 mx-auto">
    <a href="/">
      <img class="h-12" src="/static/images/logo.png" alt="">
    </a>
    <div class="flex items-center justify-center gap-3">
      <a href="{{ site.youtube }}">
        <svg class="w-6 h-6">
          <use xlink:href="/static/sprites/brands.svg#youtube"></use>
        </svg>
      </a>
      <a href="{{ site.instagram }}">
        <svg class="w-6 h-6">
          <use xlink:href="/static/sprites/brands.svg#instagram"></use>
        </svg>
      </a>
      <a href="{{ site.facebook }}">
        <svg class="w-6 h-6">
          <use xlink:href="/static/sprites/brands.svg#facebook-square"></use>
        </svg>
      </a>
      <a href="{{ site.spotify }}">
        <svg class="w-6 h-6">
          <use xlink:href="/static/sprites/brands.svg#spotify"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>
