<footer class="bg-gradient-footer">
  <div class="flex flex-col items-center justify-center gap-16 bg-center bg-no-repeat bg-cover" style="height: 80vh; background-image: url('/static/images/hero-pattern-bg.png');">
    <h1 class="text-6xl font-bold">Interested to work with us?</h1>
    <button class="btn btn-secondary btn-lg" @click="showContact = !showContact" type="button">Let's talk!</button>
    <div class="flex items-center justify-center gap-8">
      {% for item in site.social %}
        <a class="btn btn-circle btn-lg btn-secondary" href="{{ item.url }}" alt="{{ item.title }}">
          <svg class="w-6 h-6">
            <use xlink:href="/static/sprites/brands.svg#{{ item.icon }}"></use>
          </svg>
        </a>
      {% endfor %}
    </div>
  </div>
</footer>