<!-- Nav Bar -->
<header class="absolute z-10 w-full">
  <div class="p-4 m-auto">
    <div class="flex items-center justify-between max-w-screen-lg px-4 m-auto">
      <!-- Logo -->
      <div class="flex items-center justify-center gap-5 m-2">
        <a href="/">
          <img class="h-5" src="/static/images/logo-light.png" alt="">
        </a>
      </div>
      <!-- Burger Mobile -->
      <button class="md:hidden" @click="menu = !menu" type="button">
        <svg class="w-5 h-5">
          <use x-show="!menu" xlink:href="/static/sprites/solid.svg#bars"></use>
          <use x-show="menu" xlink:href="/static/sprites/solid.svg#times"></use>
        </svg>
      </button>
      <!-- Nav Desktop -->
      <nav class="items-center justify-between hidden md:flex gap-y-4 gap-x-8">
        <a href="/" class="btn btn-ghost btn-sm rounded-btn hover:text-content-100">Home</a>
        <a href="/blog" class="btn btn-ghost btn-sm rounded-btn hover:text-content-100">Blog</a>
        <a href="#contact" class="btn btn-ghost btn-sm rounded-btn hover:text-content-100">Contact</a>
      </nav>
    </div>
  </div>
</header>