<!-- Nav Bar -->
<header class="absolute z-10 w-full" x-data="{ 'showModal': false }" @keydown.escape="showModal = false" >
  <!-- Bar -->
  <div class="p-4 m-auto">
    <div class="flex items-center justify-between max-w-screen-lg px-4 m-auto">
      <!-- Logo -->
      <div class="flex items-center justify-center gap-5 m-2">
        <a href="/">
          <img class="h-5" src="/static/images/logo-light.png" alt="">
        </a>
      </div>
      <!-- Burger Mobile -->
      <button class="md:hidden" @click="showModal = !showModal" type="button">
        <svg class="w-5 h-5">
          <use xlink:href="/static/sprites/solid.svg#bars"></use>
        </svg>
      </button>
      <!-- Nav Desktop -->
      <nav class="items-center justify-between hidden md:flex gap-y-4 gap-x-8">
        <a href="/" class="btn btn-ghost btn-sm rounded-btn hover:text-content-100">Home</a>
        <a href="/blog" class="btn btn-ghost btn-sm rounded-btn hover:text-content-100">Blog</a>
        <button class="btn btn-ghost btn-sm rounded-btn hover:text-content-100" @click="showContact = !showContact" type="button">Contact</button>
      </nav>
    </div>
  </div>
  {% include modals/menu.html %}
</header>