<!-- Menu Modal -->
<section x-show="menu" class="absolute top-0 z-40 flex flex-col w-full h-full bg-black">
  <!-- Top -->
  <div class="z-50">
    <div class="p-4 m-auto">
      <div class="flex items-center justify-between max-w-screen-lg px-4 m-auto">
        <!-- Logo -->
        <div class="flex items-center justify-center gap-5 m-2">
          <a href="/">
            <img class="invisible h-5" src="/static/images/logo-light.png" alt="">
          </a>
        </div>
        <!-- Burger Mobile -->
        <button @click="menu = !menu" type="button">
          <svg class="w-5 h-5">
            <use x-show="menu" xlink:href="/static/sprites/solid.svg#times"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- Center -->
  <div class="flex flex-col items-center justify-center h-full gap-4">
    <a href="/" class="text-xl font-semibold uppercase">Home</a>
    <a href="/blog" class="text-xl font-semibold uppercase">Blog</a>
    <a href="#contact" class="text-xl font-semibold uppercase">Contact</a>
  </div>
</section>