<!DOCTYPE html>
<html lang="es-AR">

  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link href="https://fonts.googleapis.com/css?family=Barlow Condensed" rel="stylesheet">
    <link href="/tailwind.css"/ rel="stylesheet">
    <script src="/alpine.js" defer></script>
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <!--
    <link href="/static/debug.css"/ rel="stylesheet">
    -->
  </head>

  <body 
    class="debug-screens"
    x-data="{ 'showMenu': false, 'showContact': false }"
    @keydown.escape="showMenu = false; showContact = false">
    {% include _header.html %}
    <main>
      {{ content }}
    </main>
    {% include _footer.html %}
    {% include _contact.html %}

  </body>

</html>