<!DOCTYPE html>
<html lang="es-AR">

  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora" rel="stylesheet">
    <link  href="/static/images/favicon.png" rel="icon" type="image/png">
    <link href="/tailwind.css"/ rel="stylesheet">
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/prism-tomorrow.css">
    {% endif %}
  </head>

  <body
    x-data="{ 'showMenu': false, 'showContact': false }"
    @keydown.escape="showMenu = false; showContact = false">
    {% include _header.html %}
    <main>
      {{ content }}
    </main>
    {% if path != "404" %}
      {% include _footer.html %}
    {% endif %}
    {% include _contact.html %}

    <script src="/alpine.js"></script>
    {% if path == "home" %}
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>