<!DOCTYPE html>
<html lang="es-AR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lora" rel="stylesheet" />
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon.svg" />
    <link rel="icon" type="image/png" href="/static/images/favicon.png" />
    <link href="/tailwind.css" rel="stylesheet" />
    <script src="/alpine.js" defer></script>
    {% if prism == true %}<link rel="stylesheet" type="text/css" href="/prism-tomorrow.css" />{% endif %}
    <style>[x-cloak] { display: none !important;}</style>
  </head>

  <body class="bg-[#f8f8fc]" x-data="{ 'showMenu': false, 'showContact': false }" @keydown.escape="showMenu = false; showContact = false">
    {% include "_header.html" %}
    <main>{{ content }}</main>
    {% if path != "404" %}{% include "_footer.html" %}{% endif %}
    {% include "_contact.html" %} 
    {% if path == "home" %}
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
  </body>
</html>
