<section class="bg-gradient-hero">
  <div class="flex flex-col items-center justify-center gap-4 bg-center bg-no-repeat bg-cover"
       style="height: 85vh; background-image: url('/static/images/hero-pattern-bg.png');">
    <h1 class="text-6xl font-bold">We Are Paperpillar</h1>
    <p class="text-xl font-bold">A team of passionate designers and developers from Yogyakarta</p>
    <button class="btn btn-accent btn-lg" @click="showContact = !showContact" type="button">Let's talk!</button>
  </div>
</section>