<!-- Mobile -->
<section class="flex flex-col items-center justify-center max-w-screen-lg gap-8 mx-auto sm:hidden"
  style="background: linear-gradient(to bottom, transparent 0%, transparent 40%, #0E4056 40%, #0E4056 60%, transparent 60%);">
  <img class="" src="/static/images/stubs/bajate-la-app.png" alt="">
  <img class="w-2/3" src="/static/images/app.png" alt="">
  <a class="flex items-center justify-center w-2/3" href="{{ site.google-play }}">
    <img src="/static/images/buttons/google-play-badge.png" alt="">
  </a>
</section>
<!-- Desktop -->
<section class="hidden py-10 sm:block"
  style="background: linear-gradient(to bottom, transparent 0%, transparent 30%, #0E4056 30%, #0E4056 70%, transparent 70%);">
  <div class="flex items-center justify-between max-w-screen-lg gap-4 px-20 mx-auto">
    <div class="flex items-center gap-4">
      <img class="w-1/4" src="/static/images/app.png" alt="">
      <div class="">
        <h1 class="text-3xl font-semibold uppercase md:text-5xl" style="color: #3FA9F5">Bajate la app</h1>
        <h2 class="text-base md:text-xl">Y seguí escuchando Radio Vampira en todas partes.</h2>
      </div>
    </div>
    <a class="flex items-center justify-center w-56" href="{{ site.google-play }}">
      <img src="/static/images/buttons/google-play-badge.png" alt="">
    </a>
  </div>
</section>
