<div class="relative flex-col flex items-center justify-center">
  <!-- Logo -->
  <img class="absolute top-0 w-60" src="/static/images/invasion-indecisa.png" alt="">
  <!-- Background -->
  <div class="pb-8 mt-16 bg-center bg-no-repeat bg-cover pt-28 " style="background-image: url('/static/images/backgrounds/invasion-indecisa.png');">
    <!-- Wrapper -->
    <div class="flex gap-8 mx-5 sm:mx-8">
      <!-- Left -->
      <div class="flex flex-col justify-between gap-4 sm:gap-0">
        <!-- Title -->
        <h1 class="text-2xl font-bold text-white-500 uppercase sm:text-4xl">Invasión Indecisa</h1>
        <!-- Description -->
        <p class="text-base text-right sm:leading-6 sm:text-lg" style="text-align: justify; color: #EDEDED" >
          Durante el aislamiento social obligatorio presentamos los primeros encuentros de Invasión Indecisa. Un
          festival online que junta a varios músicos de la escena nacional en un mismo lugar. Cada uno interpretando
          sus canciones en un contexto hogareño con la posibilidad de verlo en vivo de manera virtual. Suprimiendo las
          barreras geográficas que surgen a la hora de escuchar en directo a nuestros músicos favoritos. El acceso al
          festival es gratuito, con la posibilidad de realizar donaciones indecisas a los músicos.
        </p>
        <!-- ONLY MOBILE: Image -->
        <a class="sm:hidden" href="https://youtu.be/b4eBSc3pBJA">
          <img src="/static/images/invasion-indecisa-flyer.png" alt="">
        </a>
        <!-- Link -->
        <a class="flex items-center justify-end text-sm font-bold uppercase sm:text-lg"
          href="https://youtu.be/9ea9nbti7JM">
          <svg class="w-12 h-12 mr-4">
            <use xlink:href="/static/sprites/brands.svg#youtube"></use>
          </svg>
          Invasión Indecisa #FestivalADistancia
        </a>
      </div>
      <!-- ONLY DESKTOP: Right -->
      <div class="flex-none hidden sm:flex">
        <a  href="https://youtu.be/b4eBSc3pBJA">
          <img class="w-72" src="/static/images/invasion-indecisa-flyer.png" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
