<div class="relative flex flex-col items-center justify-center">
  <!-- Logo -->
  <img class="absolute top-0 w-36" src="/static/images/sesiones-indecisas.png" alt="">
  <!-- Background -->
  <div class="pb-8 mt-16 bg-center bg-no-repeat bg-cover pt-28" style="background-image: url('/static/images/backgrounds/sesiones-indecisas.png');">
  <!-- Wrapper -->
  <div class="flex justify-between gap-8 mx-5 sm:mx-8">
    <!-- Left -->
    <div class="flex flex-col justify-between gap-4 sm:gap-0">
      <!-- Title -->
      <h1 class="text-2xl font-bold text-white-500 uppercase sm:text-4xl">Sesiones Indecisas</h1>
      <!-- Description -->
      <p class="text-base text-right sm:leading-6 sm:text-lg" style="text-align: justify;">
        Si querés endulzar tus oídos de la mano de un ferviente set buscá Sesiones Indecisas en Youtube. Un espacio
        en donde estamos dejando registros de ciclos musicales que filmamos y producimos fervientemente.
      </p>
      <!-- ONLY MOBILE: Image -->
      <a class="flex-none sm:hidden" href="https://youtu.be/b4eBSc3pBJA">
        <img class="h-full" src="/static/images/video.png" alt="">
      </a>
      <!-- Link -->
      <a class="flex items-center justify-end text-sm font-bold uppercase sm:text-lg"
        href="https://youtu.be/b4eBSc3pBJA">
        <svg class="w-12 h-12 mr-4">
          <use xlink:href="/static/sprites/brands.svg#youtube"></use>
        </svg>
        X-NIDAA - SESIONES INDECISAS
      </a>
    </div>
    <!-- ONLY DESKTOP: Right -->
    <a class="flex-none hidden sm:block" href="https://youtu.be/b4eBSc3pBJA">
      <img class="h-full" src="/static/images/video.png" alt="">
    </a>
  </div>
</div>
</div>
