<!-- Separador -->
<div class="px-20 m-auto border-t-2" style="max-width: calc(1024px - 5rem * 2); border-color: #1DB954;"></div>

<!-- Section -->
<section class="flex flex-col items-center justify-center max-w-screen-lg gap-12 pb-12 mx-auto">
  <!-- Desktop -->
  <div class="items-stretch justify-around hidden gap-16 sm:flex">
    <!-- Left -->
    <div class="flex items-center justify-center">
      <iframe src="https://open.spotify.com/embed/playlist/1iSMIpcONhHVZN0DTmS2kV" width="300" height="315"
        frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>

    <!-- Right -->
    <div class="flex flex-col justify-around">
      <!-- Top -->
      <div class="flex flex-col">
        <h1 class="text-2xl font-semibold text-gray-700 uppercase md:text-5xl">Streaming Indeciso</h1>
        <p class="px-6 text-lg">¿Sólo escuchas cosas en Spotify? También estamos ahí con la selección de música vampira.
          Podés encontrarlas en nuestra cuenta y las actualizamos constantemente.</p>
      </div>
      <!-- Bottom -->
      <div class="flex items-center justify-center">
        <img class="px-6" src="/static/images/stubs/nuestras-playlists.png" alt="">
      </div>
    </div>
  </div>
  <!-- Mobile -->
  <div class="flex flex-col items-center justify-center gap-10 sm:hidden">
    <!-- Top -->
    <div class="flex flex-col">
      <h1 class="text-3xl font-semibold text-gray-700 uppercase">Streaming Indeciso</h1>
      <p class="px-4">¿Sólo escuchas cosas en Spotify? También estamos ahí con la selección de música vampira.
        Podés encontrarlas en nuestra cuenta y las actualizamos constantemente.</p>
    </div>
    <!-- Bottom -->
    <img src="/static/images/stubs/nuestras-playlists.png" alt="">
  </div>

  <!-- Grid -->
  <div class="grid grid-cols-3 gap-2 sm:grid-cols-6 sm:gap-x-4 sm:gap-y-8">
    {% for p in playlists.playlists limit:12 %}
    <a href="{{ p.url }}">
      <img src="{{ p.imagen }}" alt="{{ p.titulo }}">
    </a>
    {% endfor %}
  </div>
</section>
